html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b2026 !important;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
input {
  font-family: "Noto Sans Thai Looped", sans-serif !important;
}

// .container-fluid {
//   height: 100vh;
// }

.row {
  margin: 0;
}

/* Sidebar Styles */
.sidebar {
  flex: 0 0 64px;
  max-width: 64px;
  background-color: #1e2f36; // Optional: Add a background color for clarity
  // height: 100vh;
}

/* Main Content */
.content {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  padding-left: 0;

  #top-row {
    flex-grow: 1;
    height: 60%;
  }

  #bottom-row {
    flex-grow: 1;
    height: 40%;
  }
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: var(--bs-gutter-y);
  padding-right: 0 !important; // Override padding
  padding-left: 0 !important; // Override padding
}

/* The switch container */
.mapboxgl-ctrl {
  pointer-events: none; /* Disable pointer events for the control container */
}

.mapboxgl-ctrl-group {
  pointer-events: auto; /* Re-enable pointer events for the switch */
}

.maplibregl-ctrl-bottom-left {
  bottom: 10px;
  left: 10px;
}

/* Style control container */
.style-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the satellite button */
.style-button {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.2s;
}

.style-button:hover {
  transform: scale(1.05);
}

.style-button.satellite {
  // background-image: url("/satellite.jpeg");
  background-size: cover;
  background-position: center;
}

.header {
  background-color: #475a59;
  padding: 4px 10px;
  text-align: left;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .close-button {
    background-color: #556e71; // Match the background color from the image
    border: 1px solid #c1bfbf; // Add border similar to the image
    border-radius: 4px; // Rounded corners
    color: white; // Text color
    font-size: 14px; // Adjust text size to match the image
    padding: 5px 10px; // Add padding for size adjustment
    cursor: pointer;
    display: inline-flex; // Ensure icon and text are on the same line
    align-items: center; // Vertically center the content
    justify-content: space-between; // Space between text and close icon
    
    &:hover {
      background-color: #3d565a; // Darker hover effect
    }
    
    .close-icon {
      margin-left: 10px; // Add some space between the text and the icon
      font-size: 14px; // Ensure the size of the "×" icon is appropriate
    }
  }

  .full-button {
    background: none;
    border: none;
    color: white;
    // font-size: 1.5em;
    cursor: pointer;
    padding: 0;

    .full-icon {
      width: 20px; /* Adjust icon size */
      height: 20px; /* Adjust icon size */
      object-fit: contain; /* Ensures the icon keeps its aspect ratio */
      display: flex; /* Make the button a flex container */
      align-items: center; /* Align the button vertically within the header */
    }

    &:hover {
      color: #ff6666; /* Optional: Change color on hover */
    }
  }
}

.mb-1 {
  margin-bottom: 10px;
}

/* สำหรับ WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* ความกว้างของ scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* สีพื้นหลังของ track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* สีของ scrollbar */
  border-radius: 10px; /* ความโค้งมน */
  border: 4px solid #0B2026; /* เพิ่มขอบใน scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* สีของ scrollbar เมื่อ hover */
}

/* สำหรับ Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #475a59 #1e2a34;
}


.sensor-container {
  background-color: #1e2a34;
  padding: 15px 20px 10px 20px;
  // border-radius: 10px;
  color: white;
  // width: 300px;
  // height: 96%;
  // overflow-y: scroll;

}

span {
  color: #ccc;
  font-size: 0.85em;
}

.bordered-row {
  border-top: 2px solid #1e2124; /* Black border at the top */
  border-bottom: 2px solid #1e2124; /* Black border at the bottom */
  padding: 0 0 10px; /* Optional: Add some padding */
  max-height: calc(100vh - 200px);
  // max-height: 770px;
  overflow-y: scroll;
}

strong{
  text-transform: uppercase;
  cursor: pointer;
}

.sensor-card {

  background-color: #1e2a34;
  padding: 5px 0px 5px 15px;
  // border-radius: 10px;
  color: white;
  // width: 300px;
  border-bottom: 1px solid #0B2026;
  height: 100%;
  overflow-y: scroll;

}

.sensor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid #3b4d59;
  // padding-bottom: 5px;
  // margin-bottom: 10px;
}

.sensor-header strong {
  color: #fff; /* Light purple */
  font-size: 1rem;
}

.sensor-header .latest-time {
  color: #9eb1c2;
  font-size: 0.9rem;
}

.sensor-content {
  display: flex;
  flex-direction: column;
}

.sensor-data {
  display: flex;
  flex-wrap: wrap; /* Allow content to wrap if necessary */
  align-items: center;
  gap: 5px; /* Add space between items */
  margin-bottom: 5px;
}

.sensor-data .category {
  font-weight: 500;
  color: #ddd;
  padding-right: 5px;
}

.sensor-data .count {
  color: #26ff94; /* Light green */
  padding-right: 3px;
}

.sensor-images {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 5px; /* Space between images */
  max-width: 100%; /* Prevent it from exceeding the parent width */
  overflow: hidden; /* Hide overflow if necessary */
}

.sensor-images img {
  cursor: pointer;
  // width: 100px; /* Set a fixed width for images */
  height: auto; /* Maintain aspect ratio */
  max-height: 100px; /* Limit height if needed */
  border-radius: 3px;
}

.sensor-data em {
  font-style: italic;
  color: #26ff94;
}








