html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0B2026 !important;
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div, input {
  font-family: 'Noto Sans Thai Looped', sans-serif !important;
}

// .container-fluid {
//   height: 100vh;
// }

.row {
  margin: 0;
}

/* Sidebar Styles */
.sidebar {
  flex: 0 0 64px;
  max-width: 64px;
  background-color: #1E2F36; // Optional: Add a background color for clarity
  // height: 100vh;
}

/* Main Content */
.content {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  padding-left: 0;
  
  #top-row {
    flex-grow: 1;
    height: 60%;
  }

  #bottom-row {
    flex-grow: 1;
    height: 40%;
  }
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: var(--bs-gutter-y);
  padding-right: 0 !important; // Override padding
  padding-left: 0 !important;  // Override padding
}

/* The switch container */
.mapboxgl-ctrl {
  pointer-events: none; /* Disable pointer events for the control container */
}

.mapboxgl-ctrl-group {
  pointer-events: auto; /* Re-enable pointer events for the switch */
}

.maplibregl-ctrl-bottom-left {
  bottom: 10px;
  left: 10px;
}

/* Style control container */
.style-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the satellite button */
.style-button {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.2s;
}

.style-button:hover {
  transform: scale(1.05);
}

.style-button.satellite {
  // background-image: url("/satellite.jpeg");
  background-size: cover;
  background-position: center;
}

.header {
  // font-size: 1.2em;
  background-color: #475A59;
  padding: 4px 10px;
  text-align: left;
  color: white;
  // border: 2px solid #212529;
  // font-weight: 400  ;
  /* font-weight: bold; */
}

.mb-1{
  margin-bottom: 10px;
}