<div class="header"*ngIf="!isSensorDetails">
  ข้อมูลเซนเซอร์
</div>

<div class="header"*ngIf="isSensorDetails" >
  ข้อมูลเซนเซอร์ ({{sensorName}})
  <button class="close-button" (click)="onClose()">
    ปิดหน้าต่าง <span class="close-icon">×</span>
  </button>
</div>
<div class="sensor-container" *ngIf="isSensorDetails">
  <div class="row mb-2">
    <app-header [name]="sensorFilterName[0].recentEventCount+''" [detect]="lastestSensor.detect"></app-header>
  </div>
  <div class="row bordered-row">
    <app-images-details [data]="sensorFilterName"></app-images-details>
  </div>
  <!-- <div class="row">
    <app-footer></app-footer>
  </div> -->
</div>

<div *ngFor="let item of data">
  <div class="sensor-card" *ngIf="!isSensorDetails">
    <div class="sensor-header">
      <strong (click)="onClick(item.name)">{{ item.name }}</strong>
      <span class="latest-time">Latest: {{ item.date }}</span>
    </div>

    <div class="sensor-content">
      <div class="sensor-data" >
        <div *ngFor="let entry of item.detect | keyvalue">
          <span class="category">{{ entry.key }}:</span>
          <span class="count">{{ entry.value }}</span>
        </div>
      </div>
      <div class="sensor-data">
        <div class="sensor-images">
          <div *ngFor="let img of item.img; let i = index">
            <img [src]="img" (click)="openImageModal(i, item.img)" alt="" />
          </div>
        </div>
      </div>
      <div class="sensor-data">
        <span class="count">{{item.recentEventCount}}</span
        ><span class="category">เหตุการณ์ใน 1 ชั่วโมง</span>
      </div>
    </div>
    
  </div>
</div>

<!-- Conditionally display the modal when an image is clicked -->
<ng-container *ngIf="selectedImages && selectedImages.length > 0">
  <ng-container *ngTemplateOutlet="imageSliderModal"></ng-container>
</ng-container>

<!-- Define the ng-template for the slider modal -->
<ng-template #imageSliderModal>
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeImageModal()">&times;</span>
      
      <!-- Previous Button -->
      <button class="prev" (click)="prevImage()" [disabled]="selectedImageIndex === 0">&#10094;</button>
      
      <!-- Display the current image in the slider -->
      <img [src]="selectedImages[selectedImageIndex]" alt="Full Image" class="main-image"/>

      <!-- Next Button -->
      <button class="next" (click)="nextImage()" [disabled]="selectedImageIndex === selectedImages.length - 1">&#10095;</button>
    </div>

    <!-- Thumbnails -->
    <div class="thumbnail-container">
      <div class="thumbnail" *ngFor="let img of selectedImages; let i = index" (click)="selectImage(i)">
        <img [src]="img" [class.selected]="i === selectedImageIndex" />
      </div>
    </div>
  </div>
</ng-template>

