.sensor-container {
  background-color: #1e2a34;
  padding: 20px 40px;
  // border-radius: 10px;
  color: white;
  // width: 300px;
  // height: 100%;
  overflow-y: scroll;
}

span {
  color: #ccc;
  font-size: 0.85em;
}

.bordered-row {
  border-top: 2px solid #fbfafa; /* Black border at the top */
  border-bottom: 2px solid #fbfafa; /* Black border at the bottom */
  padding: 0 0 10px /* Optional: Add some padding */
}

