app-images-details {
  max-height: 470px; /* Set max height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  width: 50%;
  max-width: 900px;
  background-color: #fff;
}

.main-image {
  max-width: 100%;
  max-height: 500px;   /* Set maximum height for the image to 500px */
  height: auto;        /* Maintain aspect ratio */
  object-fit: contain; 
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  margin-right: 5px;
  cursor: pointer;
}

.thumbnail img {
  width: 80px;
  height: 50px;
  // object-fit: cover;
  border: 2px solid transparent;
  transition: border 0.3s;
  object-fit: contain; 
}

.thumbnail img.selected {
  border-color: white;
}

