<div class="header">ข้อมูลเซนเซอร์</div>
<div class="sensor-container">
  <!-- Sensor Header -->
  <div class="sensor-header row">
    <!-- <span class="sensor-title">Sensor 001</span>
      <span class="sensor-status">CAM</span> -->
    <div class="col-2">&nbsp;&nbsp;<button class="cam-button" disabled>CAM</button></div>
    <div class="col-10"><h4 class="sensor-title">Sensor 001</h4></div>
  </div>

  <!-- Event Information -->
  <div class="event-info">
    <p>เหตุการณ์ (Last 12 hrs):</p>
    <div class="event-counters">
      <span>Human: 2</span>
      <span>Vehicle: 3</span>
      <span>Other: 1</span>
    </div>
  </div>

  <!-- Device Status -->
  <div class="device-status">
    <span>สถานะอุปกรณ์: <strong>Good</strong></span>
    <small>20 min ago</small>
  </div>

  <!-- Image Gallery -->
  <div class="image-gallery">
    <h4>ภาพถ่ายที่บันทึก</h4>
    <p>Latest: 2024-06-01 12:00</p>
    <img src="assets/img/basic.jpg" alt="latest image" />

    <div class="previous-images">
      <div class="image-item">
        <img src="assets/img/mt.jpeg" alt="2024-06-01 10:00" />
        <span>By: S001.A</span>
      </div>
      <div class="image-item">
        <img src="assets/img/mt.jpeg" alt="2024-05-31 22:00" />
        <span>By: S001.B</span>
      </div>
      <div class="image-item">
        <img src="assets/img/mt.jpeg" alt="2024-05-31 22:00" />
        <span>By: S001.B</span>
      </div>
    </div>
  </div>

  <!-- Trigger Summary -->
  <div class="trigger-summary">
    <h4>Trigger Summary</h4>
    <!-- <app-bar-chart></app-bar-chart> -->
    <a href="#">Log</a>
  </div>
</div>
