<!-- <br> -->
<!-- Image Gallery -->
<!-- <div class="image-gallery">
  <h5>ภาพถ่ายที่บันทึก</h5>
  <p>Latest: 2024-06-01 12:00</p>
  <div *ngIf="fisrtUrl">
    <img  [src]="fisrtUrl" alt="latest image" />
  </div>
  

  <div *ngIf="imgArr.length > 0">
    <div class="previous-images" *ngFor="let img of imgArr">
      <div class="image-item">
        <img [src]="img" alt="2024-06-01 10:00" />
        <span>By: S001.A</span>
      </div>
      <div class="image-item" >
          <img [src]="imgArr[2]" alt="2024-05-31 22:00" />
          <span>By: S001.B</span>
        </div>
        <div class="image-item">
          <img [src]="imgArr[3]" alt="2024-05-31 22:00" />
          <span>By: S001.B</span>
        </div>
    </div>
  </div>
</div> -->

<div *ngFor="let item of data">
  <div class="sensor-card" >
    <div class="sensor-header">
      <span class="latest-time">Latest: {{ item.date }}</span>
    </div>

    <div class="sensor-content">
      <div class="sensor-data" >
        <div *ngFor="let entry of item.detect | keyvalue">
          <span class="category">{{ entry.key }}:</span>
          <span class="count">{{ entry.value }}</span>
        </div>
        
      </div>
      <div class="sensor-data">
        <div class="sensor-images">
          <div *ngFor="let img of item.img; let i = index">
            <img [src]="img" (click)="openImageModal(i, item.img)" alt="" />
          </div>
        </div>
      </div>
      <!-- <div class="sensor-data">
        <span class="count">{{item.recentEventCount}}</span
          ><span class="category">เหตุการณ์ใน 1 ชั่วโมง</span>
      </div> -->
    </div>
  </div>
</div>



<!-- Conditionally display the modal when an image is clicked -->
<ng-container *ngIf="selectedImages && selectedImages.length > 0">
  <ng-container *ngTemplateOutlet="imageSliderModal"></ng-container>
</ng-container>

<!-- Define the ng-template for the slider modal -->
<ng-template #imageSliderModal>
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeImageModal()">&times;</span>
      
      <!-- Previous Button -->
      <button class="prev" (click)="prevImage()">&#10094;</button>
      
      <!-- Display the current image in the slider -->
      <img [src]="selectedImages[selectedImageIndex]" alt="Full Image" />

      <!-- Next Button -->
      <button class="next" (click)="nextImage()">&#10095;</button>
    </div>
  </div>
</ng-template>
