.image-gallery {
  padding-top: 10px;
}
.image-gallery h4 {
  color: #fff; /* Change header color */
  margin-bottom: 10px;
}

.image-gallery p {
  color: #ccc; /* Change paragraph color */
  font-size: 0.9em; /* Adjust font size */
}

.image-gallery img {
  // width: 90%;
  height: 180px;
  // border-radius: 5px;
  // margin-bottom: 10px;
}

.previous-images {
  display: flex;
  flex-direction: column;
  // gap: 3px; /* Space between images */
}

.image-item {
  display: flex;
  flex-direction: row;
  padding: 5px 0px; /* Padding inside the image item */
  gap: 5px; /* Space between image and label */
}

.image-item img {
  // width: 100%; /* Full width of the container */
  max-width: 120px; /* Limit the size of the images */
  max-height: 70px; /* Limit height */
  // border-radius: 5px;
}

span {
  color: #ccc;
  font-size: 0.85em;
}
p {
  margin-bottom: 0px !important;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  // max-height: 500px;  /* Ensure the modal content does not exceed 500px in height */
  overflow: hidden;    /* Hide overflow if the image is larger */
  width: 50%;
}

.modal-content img {
  max-width: 100%;
  max-height: 500px;   /* Set maximum height for the image to 500px */
  height: auto;        /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image fits within the modal, preserving aspect ratio */
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
