.image-gallery {
  padding-top: 10px;
}
.image-gallery h4 {
  color: #fff; /* Change header color */
  margin-bottom: 10px;
}

.image-gallery p {
  color: #ccc; /* Change paragraph color */
  font-size: 0.9em; /* Adjust font size */
}

.image-gallery img {
  width: 90%;
  height: 180px;
  // border-radius: 5px;
  // margin-bottom: 10px;
}

.previous-images {
  display: flex;
  flex-direction: column;
  // gap: 3px; /* Space between images */
}

.image-item {
  display: flex;
  flex-direction: row;
  padding: 5px 0px; /* Padding inside the image item */
  gap: 5px; /* Space between image and label */
}

.image-item img {
  width: 100%; /* Full width of the container */
  max-width: 120px; /* Limit the size of the images */
  max-height: 70px; /* Limit height */
  // border-radius: 5px;
}
img {
  border: 1px solid #ffffff; /* Add border around the image item */
}

span {
  color: #ccc;
  font-size: 0.85em;
}
p {
  margin-bottom: 0px !important;
}
