<!-- <br> -->
  <!-- Image Gallery -->
  <div class="image-gallery">
    <h5>ภาพถ่ายที่บันทึก</h5>
    <p>Latest: 2024-06-01 12:00</p>
    <img src="assets/img/basic.jpg" alt="latest image" />

    <div class="previous-images">
      <div class="image-item">
        <img src="assets/img/mt.jpeg" alt="2024-06-01 10:00" />
        <span>By: S001.A</span>
      </div>
      <div class="image-item">
        <img src="assets/img/mt.jpeg" alt="2024-05-31 22:00" />
        <span>By: S001.B</span>
      </div>
      <div class="image-item">
        <img src="assets/img/mt.jpeg" alt="2024-05-31 22:00" />
        <span>By: S001.B</span>
      </div>
    </div>
  </div>