.loading-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* พื้นหลังสีดำโปร่งแสง */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* ให้พื้นหลังอยู่ด้านบนสุด */
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3rem;
  }
  