<div class="container-fluid">
  <div class="row align-items-start">
    <app-top-bar></app-top-bar>
  </div>
  <div class="row">
    <!-- Sidebar -->
    <div class="sidebar col-auto">
      <app-side-bar></app-side-bar>
    </div>
    <!-- Main Content -->
    <div class="content col">
      <div id="top-row">
        <router-outlet></router-outlet>
      </div>
      <div class="" id="bottom-row">
        <app-shared-table
          [data]="eventsData"
          [columns]="columnsConfig"
          [showFilters]="true"
          (searchTermChange)="onSearch($event)"
        >
        </app-shared-table>
      </div>
    </div>
  </div>
</div>
