.footer {
  margin-left: 60px;
  height: 40%;
  width: 100%;
}

app-side-bar{
    position: absolute;
    z-index: 999;
    height: 100%;
}


.pot-bt-l{
    position: absolute;
    z-index: 999;
    left: 3.41%;
    bottom: 0%;
    width: 100%;
}