<app-loading [isLoading]="isLoading"></app-loading>
<div class="container-fluid">
  <div class="row align-items-start">
    <app-top-bar></app-top-bar>
  </div>
  <div class="row">
    <!-- Sidebar -->
    <div class="sidebar col-auto">
      <app-side-bar></app-side-bar>
    </div>
    <!-- Main Content -->
    <div class="content col">
      <div id="top-row" style="border: 4px solid #0B2026">
        <router-outlet></router-outlet>
      </div>
      <div class="" id="bottom-row" style="border: 4px solid #0B2026; margin-top: 2px">
        <div class="header">
          เหตุการณ์ล่าสุด
          <button class="full-button">
            <img src="assets/icons/shrink.png" alt="Close" class="full-icon" />
          </button>
        </div>
        <app-shared-table
          [data]="eventsData"
          [columns]="columnsConfig"
          [showFilters]="true"
          (searchTermChange)="onSearch($event)"
        >
        </app-shared-table>
      </div>
    </div>
    <div class="col-3 sensor-detect" >
      <app-sensor-info [data]="eventFilter" [dataAll]="eventFlterAll"></app-sensor-info>
    </div>
  </div>
</div>
