<div class="sensor-header row">
  <div class="col-3">
    &nbsp;&nbsp;<button class="cam-button" disabled>CAM</button>
  </div>
  <div class="col-9"><h4 class="sensor-title">{{name}}</h4></div>
</div>

<!-- Event Information -->
<div class="event-info">
  <a>เหตุการณ์ (Last 12 hrs):</a>
  <div class="event-counters">
    <span>Human: <span class="count">{{detect['HUMAN']}}</span></span>
    <span>Vehicle: <span class="count">{{detect['VEHICLE']}}</span></span>
    <span>Other: <span class="count">{{detect['OTHERS']}}</span></span>
  </div>
</div>

<!-- Device Status -->
<div class="device-status">
  <span>สถานะอุปกรณ์: <strong> Good </strong></span>
  <small>20 min ago</small>
</div>
