<div class="sensor-header row">
  <div class="col-3">
    &nbsp;&nbsp;<button class="cam-button" disabled>CAM</button>
  </div>
  <div class="col-9"><h4 class="sensor-title">Sensor 001</h4></div>
</div>

<!-- Event Information -->
<div class="event-info">
  <a>เหตุการณ์ (Last 12 hrs):</a>
  <div class="event-counters">
    <span>Human: 2</span>
    <span>Vehicle: 3</span>
    <span>Other: 1</span>
  </div>
</div>

<!-- Device Status -->
<div class="device-status">
  <span>สถานะอุปกรณ์: <strong> Good </strong></span>
  <small>20 min ago</small>
</div>
