.event-table-container {
  background-color: #1B3036;
  padding: 10px;
//   height: 100%;

  .filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .checkboxes {
          label {
              margin-right: 15px;
              color: #fff;
          }
          input[type="checkbox"] {
              margin-right: 5px;
          }
      }

      .search-bar {
          position: relative;

          input {
              background-color: #465260;
              border: none;
              color: white;
              padding: 5px 10px;
              border-radius: 5px;
          }

          .fa-search {
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              color: #fff;
          }
      }

      .filter-icon {
          i {
              color: white;
              font-size: 20px;
              cursor: pointer;
          }
      }
  }

  .table-wrapper {
      max-height: 27vh;  /* Adjust the height as needed */
      overflow-y: auto;  /* Enable vertical scrolling */
      position: relative; /* Required for absolute positioning of the header */
  }

  table {
      color: #fff;
      width: 100%;
      border-collapse: collapse; /* Ensure borders are collapsed for better appearance */

      thead {
          th {
              background-color: #38434d;
              color: white;
              padding: 10px;
              text-align: left;
              position: sticky; /* Make header sticky */
              top: 0; /* Position the sticky header at the top */
              z-index: 1; /* Ensure the header appears above the table body */
          }
      }

      tbody {
          tr {
              &:nth-child(odd) {
                  background-color: #333b44;
              }
              &:nth-child(even) {
                  background-color: #2b333b;
              }

              td {
                  padding: 5px;
              }
          }
      }
  }
}
