<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 8px;background: linear-gradient(154deg, #17423F, #080909);">
    <img class="icon-top-1" src="assets/img/army.png" alt="Map Editor" />
    <a class="navbar-brand">
      ระบบเฝ้าระวังชายแดนแบบบูรณาการ
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- justify-content: center; -->
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 15%;">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLink]="['/live-monitor']" (click)="setCloseAll('')">
          <a class="nav-link space-line">
            <img class="icon-side" src="assets/icons/sensor.png" alt="Sensor" />
            &nbsp; Live Monitoring
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLink]="['/drone-patrol']" (click)="setCloseAll('')">
          <a class="nav-link space-line">
            <img class="icon-side" src="assets/icons/drone.png" alt="Drone" />
            &nbsp; Drone Patrol
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link space-line">
            <img class="icon-side" style="margin-top: -5px" src="assets/icons/laptop-analytic.png" alt="Summary" />
            &nbsp; Summary
          </a>
        </li>
      </ul>
    </div>
  
    <div class="collapse navbar-collaps-2">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLink]="['/editor-map']" (click)="setCloseAll('')">
          <a class="nav-link space-line2">
            <img class="icon-top" src="assets/menuIcons/map-editing.png" alt="Map Editor" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link space-line2">
            <img class="icon-top" src="assets/menuIcons/setting.png" alt="Setting" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link space-line2">
            <img class="icon-top" src="assets/menuIcons/user.png" alt="User" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <img class="icon-top" src="assets/menuIcons/logout.png" alt="Logout" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
  