<nav
  id="sidebar"
  class="d-flex flex-column bg-dark text-white"
  style="height: 100% !important"
>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        class="nav-link text-white"
        (click)="pathDirect()"
        [class.highlight-button]="isActiveLive"
        (keydown.enter)="pathDirect()"
        *ngIf="checkMenuShow(1)"
      >
        <img
          class="icon"
          src="assets/menuIcons/map-marker.png"
          alt="Map Marker"
        />
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-white"
        *ngIf="checkMenuShow(2)"
        (click)="openLastEvent()"
        [class.highlight-button]="activeEventFull"
        (keydown.enter)="openLastEvent()"
      >
        <img
          class="icon"
          src="assets/menuIcons/system-task.png"
          alt="System Task"
        />
      </a>
    </li>
    <li>
      <a class="nav-link text-white" *ngIf="checkMenuShow(3)">
        <img class="icon" src="assets/menuIcons/slider.png" alt="Slider" />
      </a>
    </li>
    <li class="nav-item" *ngIf="checkMenuShow(4)">
      <a
        class="nav-link text-white"
        (click)="openListLayer()"
        [class.highlight-button]="isActiveListLayer"
        (keydown.enter)="openListLayer()"
      >
        <img class="icon" src="assets/menuIcons/layers.png" alt="Layers" />
      </a>
    </li>
    <li *ngIf="checkMenuShow(5)">
      <a class="nav-link text-white">
        <img class="icon" src="assets/menuIcons/health-graph.png" alt="Graph" />
      </a>
    </li>
  </ul>
</nav>
